@font-face {
    font-family: 'roboto-regular';
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'roboto-medium';
    src: url('../font/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'magrit';
    src: url('../font/Magrit_Georgian_Regular.ttf');
}

@font-face {
    font-family: 'magrit-bold';
    src: url('../font/Magrit_Georgian_bold.ttf');
}

@font-face {
    font-family: 'arial';
    src: url('../font/bpg_arial.ttf');
}

*,
::after,
::before {
    box-sizing: border-box;
}

/* html {
    cursor: url("../img/cursor.svg"), auto;
} */

html {
    height: 100%;
    position: relative;
    overflow: hidden;
}

body {
    font-family: 'magrit';
    font-size: 16px;
    color: #002D3D;
    background-color: #F4F4F4;
    letter-spacing: 0.02em;
    line-height: 26px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: normal;
    font-family: 'Poppins';
    font-weight: normal;
}


input[type="text"] {
    margin: 0;
    outline: none;
}

*:focus {
    outline: none !important;
}

a.button:hover {
    color: #fff;
}

a.button {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

div.row,
a.row {
    margin: 0;
}

a:link,
a:active,
a:visited {
    outline: none;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-a-center {
    align-items: center;
}

.flex-a-start {
    align-items: flex-start;
}

.flex-a-end {
    align-items: flex-end;
}

.flex-j-between {
    justify-content: space-between;
}

.flex-j-around {
    justify-content: space-around;
}

.flex-j-end {
    justify-content: flex-end;
}

.flex-d-column {
    flex-direction: column;
}

.height-100 {
    height: 100%;
}

h1.page-main-title {
    font-size: 54px;
    color: #0C4BDB;
    letter-spacing: 0.015em;
    font-family: 'magrit-bold';
}

.home-page-section {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #000;
    z-index: 0;
}

.home-page-section:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #151515 -61.14%, rgba(21, 21, 21, 0) 100%);
}

.home-page-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 89px;
    padding-bottom: 43px;
    padding-left: 7%;
    padding-right: 7%;
}

.header.home-header {
    padding-bottom: 0;
}

.c-container {
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
}

.h-search {
    margin-right: 43px;
    left: 0;
    top: 0 !important;
    transition: all .5s ease-in-out;
}

.h-search.search-icon-active {
    left: -863px;
}

.h-user {
    margin-right: 39px;
}

.active-lang {
    background: #FFFFFF;
    border-radius: 13px;
    font-size: 12px;
    padding: 3px 11px;
    font-weight: bold;
    color: #000;
}

.col3 {
    width: calc(100% / 3);
}

.txt-c {
    text-align: center;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-left: 7%;
    padding-right: 7%;
}

.share-btn {
    position: relative;
}

.share-btn .sh-close-icon {
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
    opacity: 0;
    pointer-events: none;
}

.share-btn .b-social-icons {
    position: absolute;
    left: 21px;
    bottom: 100%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.share-btn .b-social-icons a {
    margin-bottom: 24px;
}

.cursor-div {
    cursor: url(../img/cursor.svg) 50 50, pointer;
    z-index: 2;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}

.cursor-z {
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 3;
}

.share-btn svg rect,
.share-btn svg path {
    transition: all .4s ease-in-out;
}

.share-btn svg:hover rect {
    fill: #fff;
}

.share-btn svg:hover path {
    fill: #000;
    stroke: #000;
}

.b-social-icons {
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.show-social .b-social-icons {
    opacity: 1;
    pointer-events: all;
}

.show-social .sh-close-icon {
    opacity: 1;
    pointer-events: all;
}

.show-social .share-icon {
    opacity: 0;
    pointer-events: none;
}

.scroll-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-btn svg {
    position: relative;
    top: 30px;
}

.scroll-rect {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

.scroll-btn:after {
    content: '';
    position: absolute;
    top: 30px;
    width: 1px;
    background: #fff;
    height: 43px;
}

.scroll-btn svg path {
    transition: all .4s ease-in-out;
}

.scroll-btn:hover .scroll-rect {
    background-color: #fff;
}

.scroll-btn:hover svg path {
    fill: #000;
}

.main-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.main-menu-inside {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 700px;
    margin: auto;
}

.main-nav a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}

.main-nav a .nav-title {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.08em;
    font-size: 28px;
    writing-mode: vertical-rl;
    font-family: 'magrit-bold';
}

.main-nav a .num {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.main-nav a .num img {
    height: 18px;
}

.main-nav a .num img:first-child {
    margin-bottom: 13px;
}

.store-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 60px;
}

.store-btn a {
    margin: 0 10px;
}

.show-main-menu {
    opacity: 1;
    pointer-events: all;
}

.close-menu img {
    padding: 10px;
    margin: -10px -10px;
    cursor: pointer;
}

.pl-st {
    padding-left: 7%;
}

.abt-pad {
    padding-top: 60px;
    padding-right: calc(7% + 90px);
}

.page-content-container {
    padding-top: 60px;
    /* padding-right: 49px;
    padding-bottom: 49px; */
}

.txt-bold {
    font-family: 'magrit-bold';
}

.with-r-p {
    padding-right: 59px;
}

.page-l-side {
    width: 49%;
}

.page-r-side {
    width: 51%;
}

.abt-l-txt {
    width: 67.5%;
}

.abt-store {
    padding-top: 60px;
}

.abt-store a {
    display: inline-block;
    margin-bottom: 20px;
}

.abt-store div {
    width: 65%;
}

.mb-30 {
    margin-bottom: 30px;
}

.padd-change {
    padding-top: 20px;
}

.terms-container .page-l-side {
    padding-right: 50px;
}

.terms-container .page-r-side {
    padding-left: 50px;
}

.terms-container {
    padding-right: calc(7% + 60px);
    padding-top: 35px;
}

.abt-pad .page-main-title {
    padding-bottom: 40px;
}

h1.page-main-title.title-top {
    font-size: 48px;
}

.career-container {
    padding-top: 40px;
}

.career-container .page-l-side {
    width: 60%;
    padding-right: 100px;
}

.career-container .page-r-side {
    width: 40%;
}

.title-24-b {
    font-family: 'magrit-bold';
    font-size: 24px;
}

.title-16-b {
    font-family: 'magrit-bold';
    font-size: 16px;
}

.cont-inf-t {
    margin-bottom: 60px;
}

.title-16-bl {
    font-size: 16px;
    color: #0C4BDB;
}

.title-24-bl {
    font-size: 24px;
    color: #0C4BDB;
}

.mb-20 {
    margin-bottom: 20px;
}

.cont-inf {
    font-size: 14px;
    color: #002D3D;
    text-decoration: none;
}

.custom-field input::-webkit-input-placeholder {
    /* Edge */
    color: #D5D5D5;
    font-size: 14px;
}

.custom-field input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #D5D5D5;
    font-size: 14px;
}

.custom-field input::placeholder {
    color: #D5D5D5;
    font-size: 14px;
}

.custom-field input {
    border: none;
    border-bottom: 1px solid rgba(12, 75, 219, 0.22);
    background: transparent;
    width: 100%;
    height: 43px;
    color: #000000;
    font-size: 14px;
    font-family: 'arial';
}

.custom-field input:focus {
    border-color: #0C4BDB;
}

.pure-material-textfield-outlined {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 14px;
}

.pure-material-textfield-outlined input {
    border: none;
    border-bottom: 1px solid rgba(12, 75, 219, 0.22);
    background: transparent;
    width: 100%;
    height: 48px;
}

/* Input, Textarea */
.pure-material-textfield-outlined>input,
.pure-material-textfield-outlined>textarea {
    transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.pure-material-textfield-outlined>input+span,
.pure-material-textfield-outlined>textarea+span {
    position: absolute;
    top: 0;
    display: flex;
    max-height: 100%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
    padding: 0;
    left: 0;
    font-size: 12px;
    color: #000000;
}

.pure-material-textfield-outlined>input+span::before,
.pure-material-textfield-outlined>textarea+span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.pure-material-textfield-outlined>input+span::after,
.pure-material-textfield-outlined>textarea+span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span {
    line-height: 48px;
    font-size: 14px;
    color: #D5D5D5;
}

.pure-material-textfield-outlined>input:not(:placeholder-shown)~span {
    top: -5px;
}

/* Focus */
.pure-material-textfield-outlined>input:focus,
.pure-material-textfield-outlined>textarea:focus {
    border-color: #5976F0;
    outline: none;
}

.pure-material-textfield-outlined>input:focus+span,
.pure-material-textfield-outlined>textarea:focus+span {
    color: #000000;
    font-size: 12px;
    top: -5px;
    height: auto;
}

/* .pure-material-textfield-outlined>input:not(:placeholder-shown)+span {
    background: transparent;
    top: -8px;
    height: auto;
    color: #9FA1B2;
    font-size: 12px;
    width: auto;
} */


/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        .pure-material-textfield-outlined>input,
        .pure-material-textfield-outlined>input+span,
        .pure-material-textfield-outlined>textarea,
        .pure-material-textfield-outlined>textarea+span,
        .pure-material-textfield-outlined>input+span::before,
        .pure-material-textfield-outlined>input+span::after,
        .pure-material-textfield-outlined>textarea+span::before,
        .pure-material-textfield-outlined>textarea+span::after {
            transition-duration: 0.1s;
        }
    }
}

.dark-title {
    font-family: 'magrit-bold';
    font-size: 24px;
    color: #002D3D;
}

.txt-a-center {
    text-align: center;
}

/* .page-content-container.no-padd {
    padding: 0;
} */

.auth-form {
    width: 90%;
    max-width: 380px;
    margin: auto;
}

.auth-title {
    margin-bottom: 70px;
}

.custom-field {
    margin-bottom: 15px;
    position: relative;
}

.mb-more {
    margin-bottom: 45px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    height: 14px;
    transform: translateY(-50%);
}

.forgot-pass {
    text-align: right;
    margin: 30px 0 60px;
}

.forgot-pass a {
    color: #002D3D;
    font-size: 12px;
    font-family: 'arial';
    cursor: pointer;
}

.or {
    position: relative;
    color: #B0B0B0;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}

.or span {
    padding: 7px;
    background: #F4F4F4;
    z-index: 1;
    position: relative;
}

.or:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    top: 10px;
    background: rgba(12, 75, 219, 0.22);
    z-index: 0;
    display: block;
}

.fb-auth {
    width: calc(50% - 15px);
    height: 56px;
    background: #3554A0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px 0 23px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
}

.google-auth {
    width: calc(50% - 15px);
    height: 56px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 44px 0 23px;
    color: #9F9F9F;
    text-decoration: none;
    border: 1px solid #F2F2F2;
}

.auth-soc {
    margin-bottom: 60px;
}

.blue-btn {
    background-color: #0C4BDB;
    height: 56px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
}

.auth-btn {
    width: 100%;
    margin-bottom: 19px;
}

.reg-btn {
    color: #B5B5B5;
    font-size: 12px;
    font-family: 'arial';
}

.reg-btn span {
    color: #000;
}

.registration-link {
    color: #B5B5B5;
    font-size: 12px;
    letter-spacing: 0.005em;
    font-family: 'arial';
    text-decoration: none;
}

.registration-link span {
    color: rgba(0, 0, 0, 1);
}

#ui-datepicker-div.show {
    background: rgb(255, 255, 255);
    box-shadow: 0px 3px 24px rgb(151 153 193 / 16%);
    border-radius: 12px;
    padding: 40px 30px;
    margin-top: 10px;
    z-index: 5 !important;
}

#ui-datepicker-div th {
    color: #878A9F;
    font-size: 12px;
    font-family: 'magrit';
    font-weight: normal;
    padding: 0 9px;
}

#ui-datepicker-div td {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

#ui-datepicker-div td a {
    color: #494F4D;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

#ui-datepicker-div .ui-datepicker-current-day {
    background: #F2F4FE;
}

#ui-datepicker-div .ui-datepicker-current-day a {
    color: #5976F0;
}

#ui-datepicker-div .ui-datepicker-next {
    position: absolute;
    right: 40px;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #7F8382;
    border-bottom: 5px solid transparent;
    margin-top: 4px;
    cursor: pointer;
}

#ui-datepicker-div .ui-datepicker-prev {
    position: absolute;
    left: 40px;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid #7F8382;
    border-bottom: 5px solid transparent;
    margin-top: 4px;
    cursor: pointer;
}

#ui-datepicker-div .ui-datepicker-title {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
}

#ui-datepicker-div .ui-datepicker-title .select2-container:nth-child(2) {
    width: 125px !important;
    margin-right: 20px;
}

#ui-datepicker-div .ui-datepicker-title .select2-container--datepicker .select2-selection--single {
    padding: 0;
    height: 23px;
    border: none;
    border-radius: 0;
}

#ui-datepicker-div .ui-datepicker-title .select2-container:nth-child(4) {
    width: 65px !important;
}

#ui-datepicker-div .ui-datepicker-title .select2-container--datepicker .select2-selection--single .select2-selection__rendered {
    line-height: 23px;
    color: #494F4D;
    font-size: 16px;
    font-family: 'magrit';
    padding: 0;
}

#ui-datepicker-div .ui-datepicker-title .select2-container--datepicker .select2-selection--single .select2-selection__arrow {
    height: 20px;
    right: 0;
}

.select2-container--datepicker .select2-results {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    position: relative;
}

.select2-container--datepicker.select2-container--open .select2-dropdown {
    min-width: 95px;
}

.select2-container--datepicker .select2-selection--single .select2-selection__arrow b {
    border-color: rgba(156, 156, 166, 0.7) transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--datepicker .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 1px;
    width: 20px;
    right: 23px;
    height: 46px;
}

.select2-container--datepicker.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent rgba(156, 156, 166, 0.7) transparent;
    border-width: 0 4px 5px 4px;
}

.error-txt {
    color: #F44336;
    font-size: 12px;
    position: absolute;
}

.error-field input {
    border-color: #F44336 !important;
}

.reg-form .custom-field {
    margin-bottom: 19px;
}

.select2-container--default .select2-selection--single {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(12, 75, 219, 0.22);
    border-radius: 0;
    height: 43px;
    position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background: url(../img/arr-d.svg) no-repeat center center / cover;
    border: none;
    width: 10px;
    height: 6px;
}

.select-label {
    position: absolute;
    top: 7px;
    left: 0;
}

.select-cont {
    position: relative;
}

.select2-container {
    width: 100% !important;
    position: relative;
}


.select2-container--open .select2-dropdown {
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    box-shadow: 0px 3px 24px rgba(151, 153, 193, 0.16);
}

.select2-container--default .select2-results>.select2-results__options {
    padding: 20px 20px;
    min-height: 208px;
}

.select2-results__option--selectable {
    font-size: 14px;
    padding: 8px 0;
}

.select2-results__option--selectable:first-child {
    padding: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: transparent;
    color: #5976F0;
}

.select2-container--default .select2-results__option--selected {
    background-color: transparent;
    color: #5976F0;
}

.select-label {
    font-size: 14px;
    color: #D5D5D5;
}

.hide-label {
    display: none;
}

.double-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 19px;
}

.double-field .select-cont {
    width: calc(50% - 10px);
}

.reg-form .double-field .custom-field {
    margin: 0;
}

.datepicker-field {
    margin-bottom: 19px;
}

.registration-btn {
    margin-top: 41px;
}

.custom-field input:not(:placeholder-shown) {
    border-color: #0C4BDB;
}

#ui-datepicker-div .ui-datepicker-title .select2-container--datepicker .select2-selection--single {
    padding: 0;
    height: 23px;
    border: none;
    border-radius: 0;
}

#ui-datepicker-div .ui-datepicker-title .select2-container:nth-child(4) {
    width: 65px !important;
}

#ui-datepicker-div .ui-datepicker-title .select2-container--datepicker .select2-selection--single .select2-selection__rendered {
    line-height: 23px;
    color: #494F4D;
    font-size: 16px;
    font-family: 'magrit';
    padding: 0;
}

#ui-datepicker-div .ui-datepicker-title .select2-container--datepicker .select2-selection--single .select2-selection__arrow {
    height: 20px;
    right: 0;
}

.select2-container--datepicker .select2-results {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    position: relative;
}

.select2-container--datepicker.select2-container--open .select2-dropdown {
    min-width: 95px;
}

.select2-container--datepicker .select2-selection--single .select2-selection__arrow b {
    border-color: rgba(156, 156, 166, 0.7) transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--datepicker .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 1px;
    width: 20px;
    right: 23px;
    height: 46px;
}

.select2-container--datepicker.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent rgba(156, 156, 166, 0.7) transparent;
    border-width: 0 4px 5px 4px;
}

.datepicker-field {
    position: relative;
}

.calendar-icon {
    position: absolute;
    right: 0;
    top: 13px;
}

.contact-cont h1 {
    font-size: 32px;
    color: #002D3D;
    margin-bottom: 60px;
    font-family: 'magrit-bold';
    max-width: 500px;
    margin-left: 70px;
}

.contact-cont input {
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #0C4BDB;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.contact-cont textarea {
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #0C4BDB;
    width: 100%;
    height: 138px;
    padding: 20px;
    resize: none;
    margin-bottom: 40px;
}

.contact-cont button {
    border-radius: 8px;
}

.contact-l {
    width: 483px;
    max-width: 50%;
    margin-left: 70px;
}

.contact-r {
    width: 400px;
    max-width: 40%;
}

.contact-soc {
    margin: 24px 0 63px;
}

.contact-soc a {
    margin-right: 25px;
}

.contact-bl-2 .title-24-bl {
    margin-bottom: 30px;
}

.contact-bl-2 a {
    color: #000000;
    font-size: 14px;
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
}

.file-upload {
    width: 140px;
    height: 140px;
    background: #e6e6e6;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    position: relative;
}

.image-upload-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.file-upload-content {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
}

.file-upload-btn {
    background: #0C4BDB;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -6px;
    right: -6px;
    padding: 0;
    box-shadow: 0 7px 10px rgb(12 75 219 / 38%);
}

.file-upload-image {
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-upload-wrap .img {
    width: 50px;
}

.remove-image {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0;
    border: none;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    transition: all .3s ease-in-out;
}

.file-upload-content:hover .remove-image {
    opacity: 1;
    pointer-events: all;
}

.logged-user {
    width: 30px;
    height: 30px;
    border: 1px solid #0C4BDB;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logged-user {
    margin-right: 25px;
}

.profile-container {
    padding-top: 60px;
    transition: all .2s ease-in-out;
}

.profile-info-l {
    width: 216px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile-tab {
    font-size: 13px;
    color: #80969E;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.profile-tab svg {
    margin-right: 20px;
    width: 18px;
}

.profile-tab.ai-tabs--active {
    color: #002D3D;
}

.profile-tab.ai-tabs--active svg path {
    fill: #002D3D;
}

.profile-content:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(12, 75, 219, 0.12);
    left: calc(7% + 216px);
    top: 0;
    z-index: 1;
}

/* .ai-tabs__line-container {
   position: absolute;
   right: 0;
   height: 100%;
   padding-top: 3px;
}

.ai-tabs__line {
   position: relative;
   right: -5.5px;
   top: 7px;
   background: #F1F1F1;
   border: 2px solid #0C4BDB;
   width: 11px;
   height: 11px;
   border-radius: 50%;
   transition: all .4s ease-in-out;
   z-index: 2;
} */

.profile-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.outs {
    position: absolute;
    right: -5.5px;
    left: inherit !important;
    top: 0;
    width: 11px;
    height: 23px;
    border-radius: 50%;
    transition: all .4s ease-in-out;
    z-index: 2;
    display: flex;
    align-items: center;
}

.active-circle {
    background: #F1F1F1;
    border: 2px solid #0C4BDB;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.profile-info-r {
    width: calc(100% - 216px);
}

.profile-info-r {
    display: none !important;
}

.profile-info-r.ai-tabs__content--active {
    display: block !important;
}

.profile-info-r.cards-side.ai-tabs__content--active {
    display: flex !important;
}

.upload-wrapper {
    margin-bottom: 90px;
}

.profile-user-name {
    font-size: 16px;
    color: #000000;
    font-family: 'magrit-bold';
    white-space: pre-line;
}

.profile-field-l {
    width: 44%;
}

.profile-field-r {
    width: 44%;
}

.double-field .pure-material-textfield-outlined {
    width: 47%;
    margin: 0;
}

.profile-field-l .select-cont .select-label {
    position: absolute;
    top: 0;
    display: flex;
    max-height: 100%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
    padding: 0;
    left: 0;
    height: 100%;
    align-items: center;
}

.profile-field-l .select-cont .select-label.active-label {
    top: -5px;
    height: auto;
    font-size: 12px;
    color: #000000;
}

.profile-field-l .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 48px;
    padding-left: 0;
}

.profile-field-l .select2-container--default .select2-selection--single {
    height: 48px;
}

.profile-field-l .datepicker-field {
    margin-bottom: 14px;
}

.profile-field-r .eye-icon {
    opacity: 0;
    pointer-events: none;
}

.profile-save-btn {
    margin: 68px 0 0;
}

.profile-field-r .pass-field input:not(:placeholder-shown)~.eye-icon {
    opacity: 1;
    pointer-events: all;
}

.custom-check {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 15px;
    right: -40px;
    height: 16px;
    width: 16px;
    border: 2px solid #002D3D;
    border-radius: 50%;
}

.custom-check input:checked~.checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-check input:checked~.checkmark:after {
    display: block;
}

.custom-check .checkmark:after {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #002D3D;
}

.my-card {
    background: linear-gradient(133.75deg, #C585F8 2.52%, #558AF2 93.08%);
    border-radius: 12px;
    width: 249px;
    height: 156px;
    position: relative;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
}

.card-inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.card-inside img {
    margin-bottom: 12px;
    width: 30px;
}

.card-name {
    letter-spacing: 0.08em;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 17px;
    font-family: 'magrit';
}

.card-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-info span span:first-child {
    color: #fff;
    opacity: 0.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 9px;
}

.card-info span span:nth-child(2) {
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display: flex;
    font-size: 13px;
}

.cards-bg {
    position: absolute;
    top: 0;
    height: 100%;
    background: #fff;
    width: 364px;
}

.cards-side {
    padding-right: 7%;
    display: flex;
}

.invite-tab {
    padding-right: 7%;
}

.cards-check {
    padding: 0 30px 0 43px;
    width: 364px;
}

.delete-card {
    position: absolute;
    top: 69px;
    right: -40px;
}

.add-new-card {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 60px;
    color: #002D3D;
    font-size: 14px;
    padding-left: 15px;
    cursor: pointer;
}

.add-new-card img {
    background: #0C4BDB;
    padding: 13px;
    margin-right: 19px;
}

.cards-title {
    color: #002D3D;
    font-size: 16px;
    position: relative;
    font-family: 'magrit-bold';
    margin-bottom: 30px;
}

.transaction-col {
    width: calc(100% - 364px);
    padding-left: 133px;
}

/* .page-content-container.cards-cont {
    padding-right: 0;
} */

.transaction-date {
    font-size: 13px;
    color: #0C4BDB;
    margin-bottom: 20px;
}

.transaction-icon {
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.transaction-price {
    margin-right: 58px;
}

.transaction-title {
    margin-bottom: 5px;
}

.transaction-col-r {
    padding-top: 6px;
}

.transaction-blocks {
    margin-bottom: 40px;
}

.transaction-blocks-cont {
    max-height: 69vh;
    position: relative;
    padding-right: 10px;
}

/* .page-content-container.invite-cont {
    padding-right: 0;
} */

.invite-cont .profile-info-r {
    padding-left: 54px;
}

.invite-sub-title {
    color: #80969E;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 30px 0;
    line-height: 26px;
}

.invite-desc-l {
    width: 40%;
}

.invite-desc-l .title-24-b {
    line-height: 36px;
}

.invite-desc-l button {
    width: 100%;
    max-width: 277px;
    margin-top: 60px;
}

.invite-desc-r {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

/* .page-content-container.collection-cont {
    padding-right: 0;
} */

.collection-cont .profile-info-r {
    padding-left: 44px;
}

.collection-block {
    width: 100%;
}

.collection-main {
    height: calc(100vh - 180px);
    /* width: 1200px; */
}

/* .swiper-slide {
    width: 269px !important;
}  */

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
     /* max-width: 100vw; */
    width: 100%;
    overflow: hidden;
}

.profile-favorite .swiper-slide {
    height: 333px;
}

.collection-tab .swiper-slide {
    height: 333px;
}

.search-swiper-in .swiper-slide {
    height: 190px;
}

.history-tab .swiper-slide {
    height: 293px;
}

.profile-subscribe-tab .swiper-slide  {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
} 

.collection-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.collection-title {
    color: #80969E;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 26px;
    margin-top: 20px;
}

.collection-date {
    color: #0C4BDB;
    font-size: 14px;
    margin-top: 16px;
}

.profile-container.collection-cont {
    padding-top: 32px;
}

.collection-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 185px;
}

.history-tab .collection-date {
    margin-top: 0;
}

.subscribe-title {
    text-align: center;
    margin-bottom: 30px;
    z-index: 2;
    position: relative;
}

.subscribe-sub-title {
    font-size: 16px;
    color: #80969E;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
    max-width: 70%;
    z-index: 2;
    position: relative;
}

.subscribe-package {
    font-size: 18px;
    color: #80969E;
    margin-bottom: 15px;
}

.subscribe-package.active {
    color: #0C4BDB;
    font-weight: 800;
}

.subscribe-price {
    font-size: 14px;
    color: #80969E;
    margin-bottom: 11px;
}

.subscribe-desc {
    font-size: 14px;
    color: #80969E;
    width: 220px;
    font-family: arial;
    margin-top: 62px;
}

.subscribe-bottom {
    color: rgba(12, 75, 219, 0.5);
    font-size: 14px;
    margin-top: 40px;
    font-family: 'magrit-bold';
    cursor: pointer;
}

.subscribe-blocks {
    text-align: center;
    position: relative;
    height: 100vh;
    top: 0;
    position: absolute;
    width: calc(100% - 7% - 216px);
}

.subscribe-blocks:before {
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(rgba(12, 75, 219, 0.5), rgba(12, 75, 219, 0));
    position: absolute;
    top: 543px;
    left: 0;
}

.checkbox-main {
    width: 31px;
    height: 31px;
    margin: 0 auto 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 528px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.checkbox-main input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark-box {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid rgba(12, 75, 219, 0.3);
    border-radius: 50%;
    margin: auto;
    position: relative;
}

.active-chck.checkbox-main {
    top: 0;
}

.active-chck .checkmark-box {
    background: #0C4BDB;
    border: 2px solid #FFFFFF;
}

.active-chck .checkmark-box:after {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    background: rgba(12, 75, 219, 0.1);
    left: -6px;
    top: -6px;
    border-radius: 50%;
    z-index: -1;
}

.active-chck .checkmark-box:before {
    content: '';
    position: absolute;
    width: 31px;
    height: 31px;
    left: -10px;
    top: -10px;
    background: rgba(12, 75, 219, 0.1);
    border-radius: 50%;
    z-index: -1;
}

.tt {
    width: 325px;
    position: absolute;
    top: 528px !important;
    z-index: 1;
    transition: all .4s ease-in-out;
}

.subscribe-swiper .swiper-slide {
    /* width: 325px !important; */
    height: auto !important;
    padding-bottom: 0 !important;
    padding-top: 457px;
    align-items: flex-start !important;
}

.subsc-bg {
    width: 325px;
    z-index: -1;
    top: 0 !important;
}

.subscribe-swiper .swiper-slide.slide-act .subscribe-package {
    color: #0C4BDB;
    font-family: 'magrit-bold';
}

.subscribe-swiper .swiper-slide.slide-act .subscribe-price {
    color: #0C4BDB;
}

.subscribe-swiper .swiper-slide.slide-act .subscribe-desc {
    color: #000;
}

.subscribe-swiper .swiper-slide.slide-act .subscribe-cancel {
    color: #F51F0F;
}

.profile-info {
    padding-left: 127px;
    padding-right: calc(7% + 70px);
}

.pl-tab {
    padding-left: 44px;
}

.package-popup {
    width: 380px;
}

.modal-content {
    border-radius: 0;
}

.modal-body {
    padding: 0;
}

.package-content {
    text-align: center;
    padding: 60px 20px;
}

.package-content .title {
    color: #000000;
    font-size: 18px;
    margin-bottom: 40px;
    font-family: 'magrit-bold';
}

.package-content .sub-title {
    font-size: 14px;
    color: #002D3D;
    max-width: 76%;
    margin: 0 auto 80px;
}

.package-content .close-btn {
    border: none;
    background: #F1F1F1;
    padding: 11px 31px;
    color: #002D3D;
    font-size: 14px;
    margin-right: 20px;
}

.package-content .remove-btn {
    border: none;
    background: #FF2010;
    color: #fff;
    font-size: 14px;
    padding: 11px 19px;
}

.profile-subscribe {
    position: absolute;
    left: 216px;
    height: 100vh;
    top: 0;
    padding-top: 217px;
}

.swiper-slide.slide-act:after {
    content: '';
    position: absolute;
    height: 100%;
    background: #fff;
    width: 100%;
    z-index: -5;
    top: 0 !important;
    display: block;
}

.swiper-slide.slide-act:before {
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(rgba(12, 75, 219, 0.5), rgba(12, 75, 219, 0));
    position: absolute;
    top: 543px;
    left: 0;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 850px;
    top: 79px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.search-box-active {
    opacity: 1;
    pointer-events: all;
}

.search-box input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(12, 75, 219, 0.2);
    background: transparent;
    padding: 12px 20px 12px 60px;
}

.close-search-bar {
    position: absolute;
    right: 4px;
    top: 12px;
    cursor: pointer;
}

.menu-col {
    width: 124px;
}

.hr-col {
    width: calc(100% - 124px);
}

.search-act .menu-col,
.search-act .h-lang-switcher,
.search-act .h-user,
.search-act .profile-content:after {
    opacity: 0;
    pointer-events: none;
}

.search-act .profile-container {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.search-act .outs {
    top: 120% !important;
    opacity: 0;
}

.search-swiper-in {
    height: 454px;
}

.search-swiper {
    padding-top: 124px;
    padding-left: 7%;
}

.search-swiper .collection-img{
    height: 100%;
}

.search-swiper .collection-block {
    position: relative;
    padding-left: 45px;
}

/* .search-swiper .swiper-slide {
    margin-top: 0 !important;
    width: 350px !important;
}    */

.collection-main.search-swiper {
    /* width: 1400px; */
    opacity: 0;
    pointer-events: none;
}

.search-act .collection-main.search-swiper {
    opacity: 1;
    pointer-events: all;
}

.search-swiper .collection-info {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0;
    padding-right: 10px;
}

.search-swiper .collection-info .title-16-b {
    position: relative;
    left: -3px;
}

.search-swiper .collection-info .num {
    transform: rotate(90deg);
    font-size: 24px;
    font-family: 'magrit-bold';
    color: #0C4BDB;
    opacity: 0.3;
    position: relative;
    top: 5px;
}

.swiper-pagination {
    background-color: red !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill:after {
    content: '';
    position: absolute;
    left: 0%;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: red;
}

.profile-content {
    max-width: unset;
}

.career-container {
    padding-right: 7%;
}

.contact-cont {
    padding-top: 40px;
    padding-right: 7%;
}

@media screen and (max-height: 899px) and (min-height: 640px) {

    body {
        font-size: 1.8vh;
        line-height: 3.2vh;
    }

    .header {
        padding-left: 11%;
        padding-right: 11%;
        padding-top: 5vh;
        padding-bottom: 3.5vh;
    }

    /* .page-content-container {
        padding-top: 7vh;
        padding-right: 7vh;
    } */

    h1.page-main-title {
        font-size: 6vh;
    }

    .abt-store {
        padding-top: 7vh;
    }

    .padd-change {
        padding-top: 2vh;
    }

    h1.page-main-title.title-top {
        font-size: 5.2vh;
    }

    .auth-title {
        margin-bottom: 7vh;
    }

    .mb-more {
        margin-bottom: 5vh;
    }

    .forgot-pass {
        margin: 3vh 0 6vh;
    }

    .or {
        margin-bottom: 3vh;
    }

    .auth-soc {
        margin-bottom: 6vh;
    }

    .registration-btn {
        margin-top: 1vh;
    }

    .reg-form .custom-field {
        margin-bottom: 2vh;
    }

    .double-field {
        margin-bottom: 2vh;
    }

    .blue-btn {
        height: 6vh;
    }

    .custom-field input {
        height: 5vh;
    }

    .select2-container--default .select2-selection--single {
        height: 5vh;
    }

    .contact-cont h1 {
        font-size: 3.5vh;
        margin-bottom: 7vh;
    }

    .contact-cont input {
        height: 6vh;
        margin-bottom: 2.5vh;
    }

    .contact-soc {
        margin: 3vh 0 7vh;
    }

    .upload-wrapper {
        margin-bottom: 8vh;
    }

    .pure-material-textfield-outlined input {
        height: 7vh;
    }

    .file-upload {
        width: 16vh;
        height: 16vh;
    }

    .profile-field-l .select2-container--default .select2-selection--single {
        height: 7vh;
    }

    .add-new-card {
        margin-top: 6vh;
    }

    .my-card {
        margin-bottom: 2.2vh;
    }

    .cards-title {
        margin-bottom: 3vh;
    }

    .profile-container.collection-cont {
        padding-top: 6vh;
    }

    .collection-info {
        margin-top: 2vh;
    }

    .collection-title {
        margin-top: 2vh;
        font-size: 1.8vh;
    }

    .collection-info .title-16-b {
        font-size: 1.8vh;
    }

    .collection-date {
        margin-top: 1.6vh;
    }

    .collection-main .swiper-slide {
        height: calc((100% - 30px) / 2) !important;
    }

    .swiper-slide {
        padding-bottom: 2vh;
        width: 20vh;
    }

    .collection-img {
        height: 20vh;
    }

    .invite-desc-r img {
        max-height: 74vh;
    }

    .subscribe-sub-title {
        margin-bottom: 10vh;
    }

    .subscribe-swiper .swiper-slide {
        padding-top: 50vh;
    }

    .subscribe-blocks:before {
        top: 61vh;
    }

    .checkbox-main {
        top: calc(60vh - 8px);
    }

    .swiper-slide.slide-act:before {
        top: 61vh;
    }

    .tt {
        top: calc(60vh - 8px) !important;
    }

    .search-swiper .collection-info {
        margin: 0;
    }

    .footer {
        padding-left: 11%;
        padding-right: 11%;
    }

    .pl-st {
        padding-left: 11%;
    }

    .abt-pad {
        padding-right: 11%;
    }

    .page-l-side {
        width: 47%;
    }

    .page-r-side {
        width: 53%;
    }

    .terms-container {
        padding-top: 2vh;
        padding-right: 11%;
    }

    .career-container {
        padding-top: 2vh;
        padding-right: 11%;
    }

    .contact-cont {
        padding-top: 4vh;
        padding-right: 11%;
    }

    .profile-content:after {
        left: calc(11% + 216px);
    }

    .cards-side {
        padding-right: 11%;
    }

    .transaction-col {
        padding-left: 13vh;
    }

    .invite-tab {
        padding-right: 11%;
    }

    .subscribe-blocks {
        width: calc(100% - 11% - 216px);
    }
}

@media screen and (max-height: 640px) {
    body {
        overflow: auto;
    }

    .collection-main {
        height: 800px;
    }
}

@media only screen and (max-width: 1400px) {}
